# API_KEY=
# CORS_ORIGIN=*
# MAX_JOBS=3
# MAX_QUEUE=64
# JOB_TTL=1h
# JOB_TIMEOUT=30m
# MAX_FILESIZE=4G
# ALLOW_ARGS=true
# ALLOW_PRIVATE=false
# COOKIES_FILE=/data/cookies.txt
# PROXY=socks5://host:1080
# YTDLP_ARGS=--extractor-args youtube:player_client=default
