# API_KEY=
# CORS_ORIGIN=*
# MAX_JOBS=3
# MAX_QUEUE=64
# JOB_TTL=5m
# JOB_TIMEOUT=30m
# MAX_FILESIZE=4G
# ALLOW_ARGS=true
# ALLOW_PRIVATE=false
# COOKIES_FILE=/data/cookies.txt
# PROXY=socks5://host:1080
# YTDLP_ARGS=--extractor-args youtube:player_client=default
# ADMIN_TOKEN=
# PUBLIC_URL=https://yt.mnl.rocks
# EMBED_HOST=x.mnl.rocks
# GLOBAL_PER_MIN=4
# CLIENT_PER_MIN=2
# ACCOUNT_PER_HOUR=1000
# GUEST_PER_HOUR=250
# DISCORD_APP_ID=
# DISCORD_PUBLIC_KEY=
# DISCORD_BOT_TOKEN=
# DISCORD_OWNER_IDS=
